/blib/
_build/
.build
Build
.claude/settings.local.json
HTTP-BrowserDetect-*
Makefile
Makefile.old
MYMETA.json
MYMETA.yml
.perl-version
pm_to_blib
*.swp
.tidyall.d/
Makefile
MYMETA.json
MYMETA.yml
pm_to_blib
