# Consolidate Olaf Alders' various author entries
Olaf Alders <olaf@wundersolutions.com> Olaf Alders <olaf.alders@gmail.com>
Olaf Alders <olaf@wundersolutions.com> Olaf Alders <olaf@Macintosh-9.local>
Olaf Alders <olaf@wundersolutions.com> Olaf Alders 🇨🇦💪 <olaf@wundersolutions.com>
